<?xml version="1.0"?>
<launch>
	<!-- start base command republisher -->
	<node name="base_command_republisher" pkg="youbot_description" type="base_command_republisher" output="screen"/>

	<!-- send youbot urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/>
    <remap from="joint_states" to="youbot_state"/>

	<!-- start robot_state_publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />

	<!-- start arm joint_states republisher -->
	<node name="arm_joint_states_republisher" pkg="youbot_description" type="arm_joint_states_republisher" output="screen"/>

	<!-- start gazebo -->
	<param name="/use_sim_time" value="true" />
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find youbot_description):$(find gazebo_worlds):$(find gazebo)/gazebo/share/gazebo" />
		<remap from="base_controller/command" to="cmd_vel"/>
		<remap from="scan_front" to="scan"/>
       		<remap from="/base_odometry/odom" to="/odom" />
	<!--	<remap from="/arm_1/arm_controller/position_command" to="/arm_1/arm_controller/position_command_temp" />  -->
	<!--	<remap from="/arm_1/gripper_controller/position_command" to="/arm_1/gripper_controller/position_command_temp" /> -->
	</node>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="youbot_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model youBot -x 0.0 -y 0.0 -z 0.1" respawn="false" output="screen" />

	<!-- launch drivers -->
	<include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />
	<include file="$(find youbot_motion_control)/launch/control/youbot_arm_universal_control.launch" />
	<include file="$(find youbot_description)/launch/control/youbot_gripper_control.launch" />


	<!-- odom broadcaster -->
	<node pkg="youbot_tf" name="tf_odom" type="tf_odom" />
</launch>
